.app{
  
    height: 90%;
}

.landing-inner {
    height: 100%;
    display: flex;
    flex-direction: column;
    margin: auto;
    align-items: center;
    justify-content: center;
    background-color: rgb(129, 191, 253);
}

.dark-overlay {
    width: 100%;
    height: 100%;
}

.lead {
    text-align: center;
    font-weight: 600
}

.x-large{
    font-size: 4.5rem;
}

.buttons {
    display: flex;
    /* border: 1px solid black; */
    margin-top: 10px;
}

.email,
.note {
    font-size: 5rem;
    color: var(--dark-clr);
}

.email:hover,
.note:hover {
    color: var(--primary-clr)
}

.landing-btn {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center
}

.landing-btn span {
    width: 100%;
    text-align: center
}

@media (min-width:600px) and (max-width:850px) {
.x-large {
    font-size: 3.5rem;
}
}

@media only screen and (max-width: 600px) {
    .x-large {
        font-size: 3rem;
    }
}