.books{
width: 100%;
height: 100%;
}
.books-header{
    text-align: center;
    margin: 1rem;
    border-bottom: 1px solid black;
    width: auto;
}

.book-list{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding: 1rem;
    justify-content: center;
}

.books-filter {
   padding-inline-start: 4.8rem;
}

.book-preview{
    box-shadow: 0 0 4px #00000059;
    border-radius: 3px;
    text-align: center;
}

.book-preview:hover {
    transform: scale(1.05);
}

 .book-details{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100vh;  
    margin-top: 1em;
 }

 .details-container{
    width: 40%;
    height: 70%;
    display: flex;
    flex-direction: column;
    align-items:center;
    text-align: center;
 }

 .img-details{
    width: 60%;
    height: 100%;
    object-fit: cover;
 } 

 .book-details-container{
    border-top: 1px solid var(--dark-clr);
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-around;
    margin-top: 10px;
    padding-top: 10px;
 }

 .add-review-btn{
   width: 100%;
   padding-top: 20px;
 }

 .book-title-preview{
    color: var(--dark-clr);
 }

 .book-price-preview{
    color: var(--dark-clr);
 }

 .add-review-btn{
     color: black;
 }