.email-app {
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: #fff;
}

.email-app-main-content {
    display: flex;
    justify-content: space-around;
    height: 100%;
    padding: 0 15% 0;
    gap: 20px;
}

.email-nav-container {
    flex-grow: 1;
    box-shadow: 0 0 4px #00000059;
    margin: 0.4rem;
    height: 70%;
    text-align: center;
}
.email-nav-item:nth-of-type(1){
    background-color: azure;
    font-size: 1.3em;
}
.email-nav-item {
    margin-bottom: 0.5rem;   
}

.email-list-container {
    flex-grow: 9;
    box-shadow: 0 0 4px #00000059;
    margin: 0.4rem;
    height: 97%;
}

.email-nav-btn-container {
    display: none;
}

@media (min-width:600px) and (max-width:850px) {
    .email-app-main-content {
        padding: 0 5% 0;
        gap: 20px;
    }
}


@media only screen and (max-width: 600px) {
.email-app-main-content {
    display: flex;
    flex-wrap: wrap;
    height: 100%;
    padding: 0 2% 0;
    gap:5px
}
.email-nav-container {
    width: 100%;
    height: 5%;  
    margin: 5px;
}
.email-nav-list{
    display: flex;
    justify-content: center;
}
.email-nav-list>*:not(:last-child) {
    margin-inline-end: 20px;
}
.email-nav-item:nth-of-type(1) {
    background-color: none;
    font-size: 1.1em;
}
.email-list-container {
    height: 95%;
    margin: 5px;
}
}