.email-app {
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: #fff;
}

.email-filter {
    border: 1px solid rgb(125, 11, 224);
    display: flex;
    justify-content: center;
    padding: 1.5rem;
}

.email-app-main-content {
    border: 1px solid rgb(0, 0, 0);
    display: flex;
    justify-content: space-around;
    height: 100%;
    padding: 0 15% 0;
    gap: 20px;
}

.email-nav-container {
    border: 1px solid rgb(238, 17, 17);
    flex-grow: 1;
}

.email-nav-btn {
    display: none;
}

.email-list-container {
    border: 1px solid rgb(12, 92, 184);
    flex-grow: 9;
}

li {
    border: 1px solid rgba(0, 0, 0, .125);
    padding: 0.5em;
    margin-bottom: 0.2em;
}

@media (min-width:600px) and (max-width:850px) {
    .email-app-main-content {
        padding: 0 5% 0;
        gap: 20px;
    }
}


@media only screen and (max-width: 600px) {
    .email-app-main-content {
        padding: 0;
    }

    .email-filter {
        justify-content: space-between
    }

    .email-nav-btn {
        display: block;
        transform: rotate(90deg);
    }

    .email-nav-container {
        display: none;

    }
}