.email-link{
    color: #333;
}

.email-preview{
    border: 1px solid rgba(0, 0, 0, .125);
    padding: 0.5em;
    margin-bottom: 0.2em;
    text-align: center;
    height:45px;
    border-radius: 2px;
}
.email-preview:hover {
    background-color: rgb(216, 216, 216);
    transform: scale(1.01);
    box-shadow: 0 0 4px #00000059;
}

.email-preview.read{
    background-color: #f4f4f4;
}
/*email item*/
.star{
    flex: 1;
    padding-top: 5px;
    text-align: start;
}

.star.active{
    color: rgb(179, 179, 83);
}

.email-sender{
    text-align: start;
    flex: 1;
}

.email-content{
    flex: 8;
    display: flex;
    justify-content: space-around;
    text-align:start;
}

.email-subject{
   flex:1
}

.email-content-body{
    flex:6;
    text-align: center;
}

.read-more-btn{
    flex:1;
    background-color: transparent;
}

.email-date{
    flex: 3;
}

.fas.fa-trash-alt{
    padding-top: 6px;
}

@media only screen and (max-width: 800px) {
    .email-content-body{
        display: none;
    }
}