.email-link{
    color: #333;
}

.email-preview{
    border: 1px solid rgba(0, 0, 0, .125);
    padding: 0.5em;
    margin-bottom: 0.2em;
    /* justify-content: space-between; */
    text-align: center;
    /* cursor: pointer; */
    height:45px;
}
.email-preview:hover {
    background-color: rgb(216, 216, 216);
    transform: scale(1.01);
    box-shadow: 0 0 4px #00000059;
}

.email-preview.read{
    background-color: rgb(244, 237, 237);
}
/*email item*/
.star{
    flex: 1;
    padding-top: 5px;
    /* border: 1px solid black; */
    text-align: start;
}
.email-sender{
 /* border: 1px solid black; */
    text-align: start;
    flex: 2;
}

.email-content{
    /* border: 1px solid black; */
    flex: 8;
    display: flex;
    justify-content: center;
}

.email-date{
    flex: 3;
}

.fas.fa-trash-alt{
    padding-top: 6px;
}

