.email-details{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.email-details-container{
    border: #ccc 1px solid;
    width: 60%;
    height: 70%;
    display: flex;
    flex-direction: column;
    background-color: #f4f4f4;
    box-shadow: 0 0 4px #00000059;
}

.email-details-container >*:not(:last-child){
    border-bottom: #ccc 1px solid;
    flex: 1;
    align-items: center;
}

.email .email-adress{
    font-size: 1rem;
}

.email-details-container .email-content{
    flex: 11;
}

.email-subject{
    display: flex;
    justify-content: space-between;
    padding: 0 1rem 0; 
}

.read-more-container{
    position: relative;
    box-shadow: 0 0 4px #00000059;
    padding: 0.2em;
}

.read-more-container * {

}

.read-more-links-container{
    position: absolute;
    top: 2px;
    right: 0;
}


