.add-note-container{
  align-self: center;
}

.add-note-container {
  flex-direction: column;
  padding-inline: 1em;
  margin: 10px 0px;
  border-radius: 0.5em;
  box-shadow: 0 0 7px 0px #989696d1;
}

.add-note-container input{
  border: 0;
}

.add-note-container img {
  width : inherit;
  height: inherit;
  cursor: pointer;
}

.add-note-controls img {
  margin-inline-end: 5px;
}

.add-note-text{
  flex-direction: column;
}

.add-note-text textarea{
  border: 0ch;
}