.note-card{
    color: rgb(224, 223, 223);
    align-items: center;
    height: fit-content;
}

.note-card .edit-button-container{
    margin-top: 20px;
}
.note-card .edit-button-container img{
    width: inherit;
}

.note-card .note-general-controls img{
    width: inherit;
}