@media (max-width: 700px) {
  .notes-display-container {
    flex-direction: column;
  }
  .notes-list-container {
    padding: 4px;
  }
}

@media (min-width: 700px) {
  .notes-display-container {
    padding: 20px 20px;
  }
}

.notes-display-container .filter-icon-container img {
  width: inherit;
  height: inherit;
}

.notes-list-container{
  column-count: auto;
  column-width: 200px;
}

/* .notes-list-container {
  flex-grow: 1;
  align-self: stretch;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-gap: 1.5rem;
} */

.notes-list-container .note-card {
  flex-direction: column;
  justify-content: space-between;
  border-radius: 0.5em;
  border: 1px solid rgba(211, 211, 211, 0.664);
  margin-bottom: 10px;
  break-inside: avoid;
}

.notes-list-container .note-card.pinned {
  box-shadow: 0 0 5px 3px rgba(129, 191, 253, 0.589);
}
