.note-card {
  color: rgb(121, 121, 121);
  align-items: center;
}

.note-card .edit-button-container {
  margin-top: 20px;
}
.note-card .edit-button-container img {
  cursor: pointer;
  width: inherit;
}

.note-card .note-general-controls img {
  cursor: pointer;
  width: inherit;
}
