@media (max-width:700px){
  .filter-container{
    margin-bottom: 20px;
  }
}

.notes-filter{
  margin-inline-end: 8px;
}

.filter-container {
  flex-basis: 20%;
  align-items: flex-start;
}

.filter-container > *:not(:last-child) {
  border: 0;
  border-bottom: 1px solid lightgray;
  align-content: center;
}

.filter-container img {
  cursor: pointer;
  width: inherit;
}
