.todo-list{
  text-align: left;
}

.todo-list .note-content{
  width: 100%;
}

.todo-list li {
  cursor: pointer;
  justify-content: space-between;
}

.todo-list li button{
  background-color: transparent;
}

.todo-list li.done {
  text-decoration: line-through;
}
